body{
    background-color: thistle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    user-select: none;
}

#main{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: auto;

}

.settings, .sliderContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings{
    gap: 30px;
}
input[type = "color"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    width: 65px;
    height: 65px;
    cursor: pointer;

}

input[type = "color"]::-webkit-color-swatch{
    border-radius: 50%;

}
input[type = "color"]::-moz-color-swatch{
    border-radius: 50%;
}


#gridContainer{
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    width: 450px;
    height: 450px;
    background-color: white;
}

#subContainer{
    display: flex;
    flex: 1 1 auto;
}

#subContainer > div{
    flex: 1 1 auto;
}

.header{
    font-size: 48px;
    text-align: center;
    padding: 32px;
} 

.footer{
    font-size: 12px;
    padding: 72px 0px 12px 0px;
    text-align: center;
}
